<a href="https://colab.research.google.com/github/sahir-dev/Projects-practices/blob/main/Python_Data_Structure_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [2]:
# create empty list, name it 'a'

a= []
print(a)
print(type(a))

[]
<class 'list'>

In [3]:
# print the value of a
print(a)

[]

In [4]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [5]:
languages=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [7]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [10]:
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [11]:
temp=languages[1]

Print the value of temp and type(temp)

In [12]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [13]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [14]:
languages.remove(42)

In [15]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [23]:
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [24]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [25]:
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [26]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [27]:
colors2=['Grey','Sky','Blue']

Add the elements of colors2 to colors using extend function in the list

In [28]:
colors.extend(colors2)

Print len of colors and its elements

In [29]:
print(len(colors))
print(colors)

8
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky', 'Blue']

Sort the list and print it.

In [30]:
colors.sort()
print(colors)

['Black', 'Blue', 'Blue', 'Grey', 'Orange', 'Red', 'Sky', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [56]:
send= "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [57]:
words= send.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [35]:
words_lower=[]
for i in words:
  words_lower.append(i.lower())
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

In [58]:
words_lower1 = [w.lower().strip() for w in words]

In [59]:
words_lower1

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [36]:
if 'country' in words_lower:
  print('Yes')
else:
  print('No')

No

Remove the element ‘the’ from the list and print the list.

In [37]:
words_lower.remove('the')

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [38]:
x4=words_lower[:4]

In [39]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [41]:
print(''.join(x4))

coronaviruscausedlockdownsaround

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [1]:
stud_grades=  ['A','A','B','C','C','F']

Print the len of stud_grades

In [2]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [3]:
stud_grades_set= set(stud_grades)

Print stud_grades_set.

In [4]:
print(stud_grades_set)

{'C', 'B', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [5]:
print(type(stud_grades))
print(stud_grades)
print(type(stud_grades_set))
print(stud_grades_set)

<class 'list'>
['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'>
{'C', 'B', 'A', 'F'}

Add a new element ‘G’ to stud_grades_set

In [6]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [7]:
stud_grades_set.add('F')
print(stud_grades_set)

{'C', 'A', 'G', 'B', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [8]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [9]:
print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'A', 'G', 'B'}
4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [11]:
colors=  ['red','blue','orange']
fruits=  ['orange','grapes','apples']

Print color and fruits

In [12]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [13]:
colors_set= set(colors)
fruits_set= set(fruits)

Find the union of both the sets.

In [14]:
print(colors_set.union(fruits_set))

{'blue', 'red', 'grapes', 'orange', 'apples'}

Find the intersection of both the sets

In [15]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [17]:
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [18]:
temp= [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [19]:
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [20]:
temp[0]=11

Set temp1 = tuple(temp)

In [21]:
temp1= tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [22]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [23]:
temp1[0]=17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [24]:
city= ("Bangalore", 28.9949521, 72)

Print first element of city

In [25]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [26]:
city2= ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [34]:
cities= city+city2

Print cities

In [35]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [36]:
cities[0]

'Bangalore'

print the type of cities

In [37]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [38]:
d=  {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [39]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [40]:
actor= d['actor']

Print the type of actor

In [41]:
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [42]:
List= d['list']

Print the type of List.

In [44]:
print(type(List))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [45]:
d1= { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [46]:
d.update(d1)

print d

In [47]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [48]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [49]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [52]:
for i in d.items():
  print(f"{i[0]}--->{i[1]}")

actor--->amir
animal--->cat
earth--->2
list--->[23, 32, 12]
singer--->Kr$na
album--->Still here
genre--->hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [54]:
from collections import Counter
Counter('sent')

Counter({'s': 1, 'e': 1, 'n': 1, 't': 1})